<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/meta-head :: meta}" th:with="pageTitle=@{Coworkings}, pageCSS=@{../assets/css/home.css}"></head>

<body>
<header class="header">
    <div th:insert="~{fragments/navbar :: navigation}"></div>

    <section class="home-search">
        <div class="search-title">A new look at the workspace</div>
        <div class="search-paragraph">If you already have an established business, or you have just begun to develop
            your project,
            discover work spaces that can inspire your employees to work fruitfully.
        </div>
        <form class="search-form">
            <fieldset class="search-fieldset">
                <label class="search-label">Find workspace</label>
                <input type="search" class="search-input" placeholder="&#xf002; Type name">
                <button class="button search-button" type="button">Search</button>
            </fieldset>
        </form>


    </section>
</header>
<main>
    <section class="cities">
        <img class="cities-item" src="/assets/img/Kyiv.jpg" alt="">
        <img class="cities-item" src="/assets/img/Dnipro.jpg" alt="">
        <img class="cities-item" src="/assets/img/Lviv.jpg" alt="">
    </section>

    <section class="top-coworkings">
        <div class="top-coworkings-title">highest <span>rated</span></div>
        <div class="top-coworkings-items">
            <!--/*@thymesVar id="coworking" type="com.javastudy.coworkings.entity.Coworking"*/-->
            <div class="top-coworkings-item" th:each="coworking : ${coworkings}">
                <div class="top-coworking-img-item">
                    <div class="top-coworkings-price" th:text="'UAH ' + ${coworking.getDayPrice()}+'/day'">UAH 150/day</div>
                    <img class="top-coworkings-img" src="/assets/img/coworking-img.png"
                         th:src="${coworking.getMainImage() != null ? coworking.getMainImage() : '/assets/img/coworking-img.png' }"
                         alt="Пiздець всiм сподiванням :(">
                </div>
                <div class="top-coworkings-overview">
                    <p class="top-coworkings-name" th:text="${coworking.getName()}">ronda coworking-<br> recoleta</p>
                    <p class="top-coworkings-adress"><i class="fas fa-map-marker-alt"></i><span
                            th:text="${coworking.getLocation()}">54 Petliury, Kyiv</span></p>
                    <p class="top-coworkings-reviews"><i class="fas fa-star star-color"></i>
                        <i class="fas fa-star star-color"></i>
                        <i class="fas fa-star star-color"></i>
                        <i class="fas fa-star star-color"></i>
                        <i class="fas fa-star star-color"></i> <span th:text="${coworking.getReviewsCount()}">150</span>
                        Reviews</p>
                    <p class="top-coworkings-verify"><i class="far fa-check-circle"></i> Verify</p>
                </div>
            </div>
        </div>
    </section>
</main>


<p th:insert="~{fragments/footer :: footer}"></p>
<p th:insert="~{fragments/footer :: scripts}"></p>

</body>
</html>