<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/meta-head :: meta}" th:with="pageTitle=@{Login}, pageCSS=@{../assets/css/login.css}"></head>

<body>
<div class="login-page">
    <div th:insert="~{fragments/navbar :: navigation}"></div>

    <main class="mt-5 pt-4 mb-5">
        <div class="container dark-grey-text mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 card-login">
                    <div class="card text-center">
                        <div class="card-header card-header-login">
                            <p class="card-title m-3 card-title-font" style="">Sign In</p>
                        </div>
                        <div class="card-body">
                            <form action="/login" method="POST" class="border border-light mt-5 align-items-center">
                                <div class="form-row align-items-center">
                                    <div class="input-group mb-4 login-form-element">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="far fa-user" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <input name="login" type="text" class="form-control" id="usernameInputGroup" placeholder="Username">
                                    </div>

                                    <div class="input-group mb-4 login-form-element">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-lock" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <input name="password" type="password" class="form-control" id="passwordInputGroup" placeholder="Password">
                                    </div>

                                    <input class="btn-sign-in btn btn-info btn-block mb-4 login-form-element" type="submit" value="Sign In">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer card-footer-login mt-3">
                            <p class="m-2 card-footer-font">
                                Not registered?
                                <a th:href="@{../sign_up}" class="card-footer-link">Sign Up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<p th:insert="~{fragments/footer :: footer}"></p>
<p th:insert="~{fragments/footer :: scripts}"></p>
</body>
</html>