.coworking-img {
    margin-top: 100px;
    margin-bottom: 70px;
}

.coworking-img img{
    height: 300px;
}

.coworking-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #EB5757;
}

.coworking-address {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 50px;
}

.active {
    border-bottom: 10px;
    background: #EB5757;
    opacity: 0.8;
    border-radius: 0px 0px 0px 10px;
}