body {
    height: 100%;
    background-image: url("../img/login-bg-image.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-header-login, .card-footer-login {
    background: rgba(229, 229, 229, 0.5);
    border-bottom: 5px solid #EB5757;
}

.card-title-font {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    color: #000000;
    opacity: 0.6;
}

.login-form-element {
    width: 90%;
}

.card-footer-font {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.card-footer-link {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #EB5757;
}

.card-login {
    width: 38.5%;
}

.btn-sign-in {
    background: #EB5757;
    border-radius: 10px;
}
