<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navigation">
    <nav class="navbar navbar-block navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/home"> <img src="/assets/img/logo.png" alt=""> </a>
            <ul class="navbar-nav menu">
                <li class="nav-item menu-item">
                    <a class="nav-link link-menu" href="/home">home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item menu-item dropdown">
                    <a class="nav-link link-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        cities
                    </a>
                    <div class="dropdown-menu dropdown-wrapper transparent" aria-labelledby="navbarDropdown">
                        <div class="dropdown-menu-item dropdown-city"><a class="nav-link link-dropdown"
                                                                         th:href="@{../city?cityName=Kyiv}">Kyiv</a>
                        </div>
                        <div class="dropdown-menu-item dropdown-city"><a class="nav-link link-dropdown"
                                                                         th:href="@{../city?cityName=Dnipro}">Dnipro</a>
                        </div>
                        <div class="dropdown-menu-item dropdown-city"><a class="nav-link link-dropdown"
                                                                         th:href="@{../city?cityName=Lviv}">Lviv</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item menu-item" th:if="${user} != null">
                    <a class="nav-link link-menu" href="/logout" tabindex="-1" aria-disabled="true">logout</a>
                </li>
                <li class="nav-item menu-item" th:if="${user} == null">
                    <a class="nav-link link-menu" href="/login" tabindex="-1" aria-disabled="true">login</a>
                </li>
                <div class="sign-up">
                    <a class="btn sign-up-button" th:if="${user} != null"
                       th:text="'Hello, ' + ${user.getFullName()}"></a>
                    <a class="btn sign-up-button" th:if="${user} == null">Hello, Guest</a>
                </div>
            </ul>
        </div>
    </nav>
</nav>
</body>
</html>
