
body{
  font-family: Istok Web;
}


.header{
  height: 882px;
  background-image: url("../img/home-bg-img.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.navbar-block{
  height: 155px;
  background: rgba(235, 87, 87, 0.8);

}

.menu{
  margin: 0 0 0 auto;

}
.menu a:hover {
    color: white;
   }

.link-menu {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: white;
}

.dropdown-wrapper{
  background-color: transparent;
  left: -25%;
  text-align: center;
  border: 0;
  top: 70%;
}

.dropdown-city{
  background-color: white;
  margin: 5px 0 2.5px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  width: 90px;
  height: 30px;
  color: #000000;

}

.link-dropdown {
  color: #000000 !important;
}

.sign-up{
  margin-right: 100px;
}

.button-menu{
  width: 100px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #EB5757;
}

.menu-item{
  margin-right: 56px;
}

.navbar-brand{
  margin-left: 32px;
}


nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
}

.home-search{
  margin-top: 150px;
  margin-left: 100px;
  color: black;
  background-color: white;
  width: 448px;
  height: 477px;
  padding: 50px 43px 18px 43px;
}

.search-title{
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #000000;
}

.search-paragraph{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 20px;

}


.search-form{
  margin-top:29px;
}
.search-legend{
  position: absolute;
  top:617px;
  left:168px;
  width: 89px;
  height: 18px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  opacity: 0.6;
}

.search-input {
  width: 359px;
  height: 59.75px;
  background: #FFFFFF;
  opacity: 0.2;
  border: 1px solid #000000;
  border-radius: 10px;
  font-family: FontAwesome;
}

.search-button{
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  width: 359px;
  height: 59.75px;
  background: #EB5757;
  border-radius: 10px;
  margin-top: 20px;

}

.cities{
  margin-top: 100px;
  margin-left: 100px;
}

.cities-item{
  margin-right: 20px;
  display: inline-block;
  background: #DE6969;
  border: 1px solid #FFFFFF;
  width: 400px;
  height: 400px;
}

.top-coworkings{

}

.highest-rated{
  margin-top: 100px;
  margin-left: 619px;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
  color: #EB5757;

}

.rated-word-color{
  color: #000000;
}


.top-coworkings-items{
  margin-top: 50px;
  margin-left: 102px;
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  height: 698px;
  justify-content: space-between;

}
.top-coworkings-item{
  position: relative;

  display: inline-block;
  width: 294px;
  height: 339px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.top-coworking-img-item{

}


.top-coworkings-price{
  position: absolute;
  top:134px;
  background-color: rgba(235, 87, 87, 0.8);
  font-weight: bold;
  font-size: 18px;
  opacity: 0.6;
  color: #FFFFFF;
  padding: 5px 10px 4px 10px;
}

.top-coworkings-overview{
  padding-left: 10px;
}


.top-coworkings-name{
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  opacity: 0.6;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.top-coworkings-adress{
  font-size: 14px;
  color: #000000;
  opacity: 0.6;
  line-height: 14px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.top-coworkings-reviews{
  font-size: 12px;
  color: #000000;
  opacity: 0.6;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.top-coworkings-verify{
  font-size: 12px;
  color: #EB5757;
  line-height: 18px;
  margin-top: 7px;

}

.star-color{
  color: red;
}

.footer{
  margin-top: 150px;
  height: 186px;
  background: #EB5757;
}
